
$primary: #2699FB;
$info: #D8EDFF;


$input-border-color:$primary;
$input-color:$primary;
$input-placeholder-color:$primary;

$border-color:$primary;
$border-width: 2.25px !default; 

$border-radius-lg:  .5rem !default;
$border-radius-sm:   .2rem !default;

$display1-size: 3.5rem !default;
$display2-size: 2.5rem !default;
$display3-size: 1.75rem !default;
$display4-size: 1.5rem !default;
$display5-size: 1.25rem !default;
$display6-size: 1rem !default; 